__history
__recovery
*.res
*.identcache
*.~*
*.dsk
*.local
debug
Debug
release
Release
bin
Bin
Win32
win32
Win64
win64
gen
Build
build
node_modules
Local.defs
Data7Local.inc
licenses.licx
local.properties
*.exe
*.dll
*.bpl
*.dcu
*.dof
*.stat
*.tvsconfig
*.suo
*.vs10x
*.ddp
*.skincfg
*.class
*.apk
*.project
*.classpath
*.iml
*.7db
*.db
*.rc
*.res
.DS_Store
.settings*
.metadata
.gradle
.idea
.sonar
.vs
.git
.local
.svn
target
Target
Agente7.db
Conexao.config
logs
